.home-content {
  margin-top: 5px;
}

.home-content h1 {
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
}

.home-content-btn {
  background-color: var(--main-card-color);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.home-content > button > span {
  font-weight: 900;
  font-size: 14px;
}

.home-content-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  margin-left: 5px;
}
