.global-container {
}
.navbar-container {
  position: sticky;
  top: 0;
}

.nav-bar-absolute {
  margin-top: 30px;
  position: absolute;
}

.nav-bar-absolute h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
}

.nav-bar-titles-hoover:hover {
  color: hsla(0, 0%, 100%, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.navbar-first-part {
  display: flex;
  flex-direction: column;
}

.navbar-first-part span {
  background-image: none;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 5px 0;
  cursor: pointer;
}

.react-nav-icons {
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 6px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 5px;
  background-color: #2d2d2d;
}

.navbar-first-part span:hover .react-nav-icons {
  background-color: white;
  transition: all 0.5s;
  color: black;
}
